<% title("Home Page") %>
<!-- <h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>
 -->

<!--  <div class="jumbotron" style="background-image: url(/assets/shprittz.png);background-repeat:no-repeat;
display: compact;">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div> -->

<div class="jumbotron">
      <div class="container">
        <h1>Handwashes in your condo.</h1>
        <p>Book your car for an appointment tonight.</p>
        <div><%= link_to "Sign up for free!", new_user_registration_path, :class => "btn btn-primary" %></div>
<br>
<div><%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %></div>
      </div>
      <br>
      <br>
      <br>
      <%= image_tag("shprittz.png", :style => "width:20vw; display: block;opacity: 0.5;
    filter: alpha(opacity=50);border-radius: 20px;")%>

    </div>

<!-- 
<h2 style="text-align:center;">Book an overnight handwash at your personal condominium residence</h2>
<br>
<div style="text-align:center;"><%= link_to "Sign up for free!", new_user_registration_path, :class => "btn btn-primary" %></div>
<br>
<div style="text-align:center;"><%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %></div>
<br> -->
<%= image_tag("shprittz.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto")%>
