
<h1>Make an appointment</h1>
<h1><small> <%= @condo.address %></small></h1>
<br>
<%= form_for([@condo, @appointment]) do |f| %>


<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
    <%= f.text_field :date, 'data-behaviour' => 'datepicker', :enabled => 'enable', :class => 'form-control datepicker'%>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>



<script type="text/javascript">
$(document).ready(function(){
  $('.datepicker').datepicker("setDate", new Date());
    
   });     
</script>

 <br>

<div class= "input", id="boxes">
  <h4>Please select one</h4>
    <p>Outside only ($18.95): <%= f.check_box(:inside_only) %></p>
    <p>Inside and Outside ($28.95): <%= f.check_box(:inside_and_outside) %></p>
    <p>Inside only ($15.95): <%= f.check_box(:outside_only) %></p>              
</div>

  <div class="field">
    <% if current_user %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@appointment.errors.count, "error") %>
      prohibited this product from being saved:
    </h2>
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<br/>
<br/>
<br/>
<% if current_user.appointments.any? %>
<h5>My most recent appointments: </h5>
<% @appointments_last_three.each do |appointment| %>
  <p><%= appointment.date %></p>
  <% if appointment.inside_and_outside.to_i > appointment.inside_only.to_i || appointment.inside_and_outside.to_i > appointment.outside_only.to_i %>
    <p>Inside and Outside ($28.95)</p>
    <% end %>
  <% if appointment.inside_only.to_i > appointment.inside_and_outside.to_i || appointment.inside_only.to_i > appointment.outside_only.to_i %>
    <p>Outside only ($18.95)</p>
    <% end %>
  <% if appointment.outside_only.to_i > appointment.inside_and_outside.to_i || appointment.outside_only.to_i > appointment.inside_only.to_i %>
    <p>Outside only ($15.95)</p>
    <% end %>
  <% end %>
  <% end %>