<div class="row">
<!--   <div class="col-sm-12">
 -->  <div class="col-md-8 col-md-offset-2 text-center">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => "form" }) do |f| %>

    <%= devise_error_messages! %>

  <div class="row">
    <div class="col-md-12">
      <h3>Member Registration</h3>
        <p class="form-description">Register now and have a wash professional clean your vehicle overnight. </p>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name, class: "sr-only" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Full Name" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
          <%= f.fields_for :condo do |condo_form| %>
            <%= condo_form.label :address, class: "sr-only" %>
            <%= condo_form.text_field :address, class: "form-control", placeholder: "Address" %>
          <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :postal_code, class: "sr-only" %>
            <%= f.text_field :postal_code, class: "form-control", placeholder: "Postal Code" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :city, class: "sr-only" %>
            <%= f.text_field :city, class: "form-control", placeholder: "City" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :suite, class: "sr-only" %>
            <%= f.text_field :suite, class: "form-control", placeholder: "Suite Number" %>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :parking_number, class: "sr-only" %>
            <%= f.text_field :parking_number, class: "form-control", placeholder: "Parking Spot Number" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :parking_level, class: "sr-only" %>
            <%= f.text_field :parking_level, class: "form-control", placeholder: "Parking Level" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
          </div>
        </div>
      </div>

      </div>
    
    <div class="row">
      <div class="col-sm-10" style="margin-top:1em;">
      <%= render "devise/shared/links" %>
      </div>

      <div class="col-sm-2" style="margin-top:1em;">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    </div>

<% end %>

</div>

</div>
</div>



